@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: hsl(217, 54%, 11%);
  --color-card: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);

  --color-cyan: hsl(178, 100%, 50%);
  --color-soft-blue: hsl(215, 51%, 70%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-color: var(--color-bg);
}

.container {
  width: 100%;
  height: 95vh;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.card {
    background: var(--color-card);
    padding: clamp(2rem, 10%, 3rem );
    border-radius: 2rem;
      color: var(--color-white);
      width: clamp(20rem, 50%, 40rem);

      &__fig {
        max-width: 100%;
        display: block;
  
      }

      &__img {
        display: block;
        width: 100%;
        max-width: 100%;
        border-radius: 1rem;
      }

    &__title {
      font-family: inherit;
      font-size: 2.5rem;
      font-weight: 700;
      padding-block: 1rem;
    }

    &__desc{
      font-size: 1.8rem;
    }

    &__row{
      justify-content: space-between;
      border-bottom: 1px solid var(--color-soft-blue);
      padding-block: 1.5rem;
    }

    &__price {
      color: var(--color-cyan);
      font-size: 1.6rem;
    }

    &__time {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: var(--color-soft-blue);
    }

    &__bottom {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: 1rem;
    }

    &__em {
      font-weight: 700;
    }

    &__avatar{
      display: block;
      height: 5rem;
      width: 5rem;
      border: solid 1px var(--color-soft-blue);
      border-radius: 50%;
    }

    &__desc {
      color: var(--color-soft-blue);
    }
}